/* main 안 4번째 section 관련 css */
.section-subscribe {
    position: relative;
    top: 80px;
    z-index: 3;

    border-radius: 30px;
    background: #263140;
    box-sizing: border-box;

    width: 1280px;
    height: 200px;
    flex-shrink: 0;

    color: #FFFFFF;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-subscribe_text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.h3-section_subscribe {
    color: #FFFFFF;

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; /* 125% */
}

.p-section_subscribe {
    color: #F2E9D8;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.form-subscribe {
    width: 530px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 60px;
    background-color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.img-subscribe_mail {
    margin-left: 28px;
}

.input-subscribe {
    border-width: 0px;
    width: 300px;
}

.button-subscribe {
    background: #D97652;
    width: 135px;
    height: 50px;

    border: none;
    border-radius: 40px;

    flex-shrink: 0;

    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;

    line-height: 20px; /* 125% */

    margin-right: 6px;

}