/* 탑 버튼 관련 css*/

#img-scroll-topButton:hover {
    content: url("../images/scroll-top-btn-hover.png");
}

@media screen and (max-width: 1920px) {
    #a-scroll-topButton {
        position: fixed;
        right: 5%;
        bottom: 15%;
        z-index: 5;
    }
}

@media screen and (min-width: 1921px) {
    #a-scroll-topButton {
        position: absolute;
        bottom: 19px;
        right: 24px;
        z-index: 5;
    }

}